#my_image {
  border-radius: 100%
}

body {
  background-color: #48D1CC
}

hr {

  border-style: dotted none none ;
  border-width: 5px;
  border-color: red;
  width: 15%;
  left: 10px;
  text-align: left;
}
